/*-----Importanto font Roboto------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*------Reset--------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    list-style: none;
}

/*-------------------------*/

.navigation-desktop{
    display: none;
}

section{
    width: 90vw;
    margin: auto 5vh;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*-----Cabeçalho navegação------*/
header.container-navigation {
    width: 100%;
    height: 48px;
    position: fixed;
    background: #2571B7;
}

nav.navigation-mobile {
    height: 100%;
    padding: 0px 18px;
}

/*------Botão de navegação--------*/

.button-navigation {
    height: 18px;
    float: left;
    margin-top: 15px;
}

.button-icon {
    width: 24px;
    height: 2px;
    background: #FFFFFF;
}

/*-------------------------*/

/*--------Botão com nome----*/
.button-name {
    width: 113px;
    height: 28px;
    background-color: #002050;
    text-align: center;
    float: right;
    margin-top: 10px;
}

.button-name button {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #FFFFFF;
    background-color: inherit;
}

.button-name button:hover {
    background-color: #003f9e;
}

/*-------------------------*/

/*-------------------------*/

section {
    width: 90vw;
    margin: auto;
}

/*------Primeira seção---------*/
section.section-one {
    width:100%;
    height: 592px;
    background: url(/img/Grupo\ 52.png) no-repeat 43% 80% scroll;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

section.section-one h1 {
    padding-top: 120px;
    font: normal normal 600 42px/56px;
}

section.section-one p {
    padding-top: 24px;
    font: normal normal normal 24px/36px Roboto;
}

section.section-one .button {
    width: 189px;
    height: 52px;
    margin: 60px auto;
    background-color: #00A4EF;
}

section.section-one .button button {
    width: 100%;
    height: 100%;
    font-size: 24px;
    background-color: inherit;
    color: #FFFFFF;
}

section.section-one .button button:hover {
    background-color: #6fcbf5;
}

section.section-one img {
    width: 130px;
    height: 40px;
    margin-top: 90px;
}

/*-------------------------*/

/*----Seção sobre--------*/
section.section-about {
    width: 90vw;
    height: 100%;
    margin: 60px auto auto auto;
    text-align: center;
}

section.section-about p {
    font: normal normal normal 15px/24px Roboto;
    color: #737373;
}

/*-------------------------*/

/*-----Seção de artigos-------*/

section.section-articles {
    width: 90vw;
    height: 100%;
    margin: 33px auto auto auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

section.section-articles h2 {
    color: #2571B7;
    font-size: 24px;
}

section.section-articles>p {
    margin-top: 27px;
    color: #737373;
    font: normal normal normal 15px/24px;
}

/*-----Configuração padrão dos artigos-------*/
section article[class*="article-"] {
    width: 100%;
    height: 124px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
    box-sizing: border-box;
    margin-top: 15px;
}

article[class*="article-"] div.left img {
    margin:auto 4vw auto 1vw;
}

article[class*="article-"] div.right p {
    font-size: 12px;
}

article[class*="article-"] div.right h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/*-----Configuração de cada artigo-------*/
article.article-1 {
    margin-top: 27px;
    background-color: #0072C6;
}

article.article-2 {
    background-color: #2C5898;
}

article.article-3 {
    background-color: #207245;
}

article.article-4 {
    background-color: #CB4A32;
}

article.article-5 {
    background-color: #733781;
}

article.article-6 {
    background-color: #00AFF0;
}

/*-----------------------*/

section.section-option {
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

section.section-option h2 {
    margin-bottom: 27px;
    color: #2571B7;
}

section.section-option article.article-option {
    width: 100%;
    height: 100%;
}

article.article-option div.left h4 {
    font-size: 15px;
    margin-bottom: 18px;
}

article.article-option div.left p {
    margin-right: 18px;
    color: #737373;
    font: normal normal normal 12px/18px Roboto;
}

article.article-option div.left button {
    width: 82px;
    height: 30px;
    font-size: 11px;
    background-color: unset;
    margin-top: 18px;
}

article.article-option div.right img{
    width: 14vh;
}

span.row {
    width: inherit;
    height: 3px;
    margin: 21px auto;
    background-color: #DEDEDE;
}

h4#title-option1 {
    color: #7FBA00;
}

button#button-option1 {
    border: 1px solid #7FBA00;
    color: #7FBA00;
}

button#button-option1:hover {
    background-color: #7FBA00;
    color: white;
}

h4#title-option2 {
    color: #00A4EF;
}

button#button-option2 {
    border: 1px solid #00A4EF;
    color: #00A4EF;
}

button#button-option2:hover {
    background-color: #00A4EF;
    color: white;
}

h4#title-option3 {
    color: #FFB900;
}

button#button-option3 {
    border: 1px solid #FFB900;
    color: #FFB900;
}

button#button-option3:hover {
    background-color: #FFB900;
    color: white;
}

/*------------------*/

/*-----Seção dolar-------*/
section.section-dolor {
    text-align: center;
    margin-top: 60px;
}

section.section-dolor h3 {
    font-size: 24px;
    color: #2571B7;
    width: 100%;
    height: 68px;
    margin-bottom: 33px;
}

table,
tr,
td {
    width: 100%;
    height: 150px;
    border: 3px solid #DEDEDE;
    border-collapse: collapse;
}

section.section-dolor article.article-dolor {
    height: 100%;
    margin-top: 0px;
    padding: 30px 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

article.article-dolor h4 {
    color: #F25022;
    font-size: 15px;
}

article.article-dolor p {
    width: 100%;
    height: 52px;
    margin-top: 18px;
    color: #868686;
    font: normal normal normal 12px/18px Roboto;
}

/*--------------------*/

/*-------Seção img-------*/

section.section-img {
    width: 100%;
    height: 224px;
    background: url(img/Grupo89.png) 0% 0% no-repeat scroll;
    background-size: cover;
    box-sizing: border-box;
    margin-top: 60px;
    padding: 42px 2vh;
    color: #FFFFFF;
    text-align: center;
}

section.section-img p {
    width: 100%;
    text-align: center;
    font: normal normal normal 24px/36px Segoe UI;
}

/*---------------------*/

/*---Seção formulario-------*/

section.section-form {
    margin-top: 60px;
    text-align: center;
    color: #737373;
}

section.section-form p {
    font: normal normal normal 15px/24px Roboto;
}

section.section-form form {
    width: 90vw;
    margin: 27px auto auto auto;
    background-color: #E6E6E6;
    text-align: left;
    padding: 15px 18px;
    box-sizing: border-box;
}

section.section-form form label {
    font: normal normal normal 12px/30px Roboto;
}

section.section-form form label:first-child {
    color: #2571B7;
}

section.section-form form input {
    width: 100%;
    height: 44px;
    background-color: white;
    margin-bottom: 21px;
    padding: 15px 12px;
    box-sizing: border-box;
}

section.section-form form input:hover {
    border: 2px solid #2571B7;
}

section.section-form form input:first-of-type {
    font: normal normal normal 15px/30px Roboto;
    background-color: white;
    border: 3px solid #2571B7;
    padding: 15px 12px;
}

section.section-form form input:first-of-type:hover {
    border: 4px solid #2571B7;
}

section.section-form form button{
    width: 100%;
    height: 52px;
    background-color: #00A4EF;
    margin: 15px auto 2px auto;
    color:white;
    font-size: 21px;
}

section.section-form form button:hover{
    background-color: #69caf7;
}

/*-----------------*/

/*------Rodapé------*/
footer.footer{
    width: 100%;
    height: 100%;
    margin-top: 46px;
    padding: 24px 0px;
    text-align: center;
    background-color: #E6E6E6;
}

footer.footer div{
    margin:auto auto 17px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer.footer div img{
    width: 25vh;
    margin: 0px 10px;
}

footer.footer p{
    margin-top: 17px;
    font-size: 12px;
    color: #B4B4B4;
}

/*-----------------*/

/*-----@media para desktop------*/

@media screen and (min-width: 820px){
    
    /*-----Barra de navegação-------*/ 
    header.container-navigation{
        height: 80px;
    }
    nav.navigation-mobile{
        display: none;
    }

    nav.navigation-desktop {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    nav.navigation-desktop img{
        width:150px ;
    }

    nav.navigation-desktop ul li{
        display: inline;
        color: white;
        margin-right: 30px;
        font-size: 16pz;
    }

    nav.navigation-desktop div.menu{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    div.button-name {
        width: 138px;
        height: 37px;
        margin-left: 41px;
    }
}
    