/*-----Importanto font Roboto------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*------Reset--------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    list-style: none;
}

/*-------------------------*/

/*-----Cabeçalho navegação------*/
header.container-navigation {
    width: 100%;
    height: 48px;
    position: fixed;
    background: #2571B7;
}

nav.navigation-mobile {
    height: 100%;
    padding: 0px 18px;
}

/*------Botão de navegação--------*/

.button-navigation {
    height: 18px;
    display: flex;
    float: left;
    flex-flow: column;
    margin-top: 15px;
    justify-content: space-between;
}

.button-icon {
    width: 24px;
    height: 2px;
    background: #FFFFFF;
}

/*-------------------------*/

/*--------Botão com nome----*/
.button-name {
    width: 113px;
    height: 28px;
    background-color: #002050;
    text-align: center;
    float: right;
    margin-top: 10px;
}

.button-name button {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #FFFFFF;
    background-color: inherit;
}

.button-name button:hover {
    background-color: #003f9e;
}

/*-------------------------*/

/*-------------------------*/

section{
    width: 324px;
    margin: auto;
}

/*------Primeira seção---------*/
section.section-one {
    width: 100%;
    height: 592px;
    background: url(/img/Grupo\ 52.png) no-repeat 43% 80% scroll;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

section.section-one h1 {
    padding-top: 120px;
    font-size: 42px;
    font: normal normal 600 42px/56px Segoe UI;
}

section.section-one p {
    padding-top: 24px;
    font-size: 24px;
    font: normal normal normal 24px/36px Segoe UI;
}

section.section-one .button {
    width: 189px;
    height: 52px;
    margin: 60px auto;
    background-color: #00A4EF;
}

section.section-one .button button {
    width: 100%;
    height: 100%;
    font-size: 24px;
    background-color: inherit;
    color: #FFFFFF;
}

section.section-one .button button:hover {
    background-color: #6fcbf5;
}

section.section-one img {
    width: 130.69px;
    height: 39.37px;
    margin-top: 90.96px;
}

/*-------------------------*/

/*----Seção sobre--------*/
section.section-about {
    width: 324px;
    height: 182px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section.section-about p {
    font: normal normal normal 15px/24px Segoe UI;
    color: #737373;
}

/*-------------------------*/

/*-----Seção de artigos-------*/

section.section-articles {
    width: 324px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.section-articles h2 {
    color: #2571B7;
    font-size: 24px;
}

section.section-articles>p {
    margin-top: 27px;
    color: #737373;
    font: normal normal normal 15px/24px Segoe UI;
}

/*-----Configuração padrão dos artigos-------*/
section article[class*="article-"] {
    width: 100%;
    height: 124px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
    box-sizing: border-box;
    margin-top: 15px;
}

article[class*="article-"] div.left img {
    margin-right: 10px;
}

article[class*="article-"] div.right p {
    font-size: 12px;
}

article[class*="article-"] div.right h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/*-----Configuração de cada artigo-------*/
article.article-1 {
    margin-top: 27px;
    background-color: #0072C6;
}

article.article-2 {
    background-color: #2C5898;
}

article.article-3 {
    background-color: #207245;
}

article.article-4 {
    background-color: #CB4A32;
}

article.article-5 {
    background-color: #733781;
}

article.article-5 {
    background-color: #00AFF0;
}

/*-----------------------*/

section.section-option {
    width: 100%;
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

section.section-option h2 {
    margin-bottom: 27px;
    color: #2571B7;
}

section.section-option article.article-option {
    width: 100%;
    height: 100%;
}

article.article-option div.left h4 {
    font-size: 15px;
    margin-bottom: 18px;
}

article.article-option div.left p {
    color: #737373;
    font: normal normal normal 12px/18px Roboto;
}

article.article-option div.left button {
    width: 82px;
    height: 30px;
    font-size: 11px;
    font-family: 'Roboto';
    background-color: unset;
    margin-top: 18px;
}

span.row {
    width: 324px;
    height: 3px;
    margin: 21px auto;
    background-color: #DEDEDE;
}

h4#title-option1 {
    color: #7FBA00;
}

button#button-option1 {
    border: 1px solid #7FBA00;
    color: #7FBA00;
}

button#button-option1:hover {
    background-color: #7FBA00;
    color: white;
}

h4#title-option2 {
    color: #00A4EF;
}

button#button-option2 {
    border: 1px solid #00A4EF;
    color: #00A4EF;
}

button#button-option2:hover {
    background-color: #00A4EF;
    color: white;
}

h4#title-option3 {
    color: #FFB900;
}

button#button-option3 {
    border: 1px solid #FFB900;
    color: #FFB900;
}

button#button-option3:hover {
    background-color: #FFB900;
    color: white;
}

/*------------------*/

/*-----Seção dolar-------*/
section.section-dolor{
    text-align: center;
    margin-top: 60px;
    width: 324px;
}

section.section-dolor h3{
    font-size: 24px;
    color:#2571B7 ;
    width: 100%;
    height: 68px;
    margin-bottom: 33px;
}

table, tr, td{
    width: 100%;
    height: 150px;
    border: 3px solid #DEDEDE;
    border-collapse: collapse;
}

section.section-dolor article.article-dolor{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding: 30px 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

article.article-dolor h4{
    color: #F25022;
    font-size: 15px;
}

article.article-dolor p{
    width: 276px;
    height: 52px;
    margin-top: 18px;
    color:#868686;
    font: normal normal normal 12px/18px Roboto;
}

/*--------------------*/

/*-------Seção img-------*/

section.section-img{
    width: 100%;
    height: 224px;
    background: url(img/Grupo89.png) 0% 0% no-repeat padding-box;
    margin-top: 60px;
    padding: 42px 18px;
    color: #FFFFFF;
}

section.section-img p{
    width: 324px;
    height: 140px;
    text-align: center;
    font: normal normal normal 24px/36px Segoe UI;
}

/*---------------------*/